<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trackdéchets Openid connect demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <%- include('banner.ejs', {home: false}); %>
    <div class="result" >
    <div class="container">
      
      <div  class="is-size-5">
        <div class="notification is-danger">
          L'utilisateur a refusé d'autoriser Votre Application® à se connecter grêce à l'identité Trackdechets.
        </div>
             <a class="button is-info" style="margin-top: 1rem" href="/">Retour à l'accueil</a>
      </div>
 
    </div>
  </div>
</body>
 
</html>


