#home {
  margin-top: 100px;
}

.logo-wrapper {
  background-color: white;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-logo {
  width: 200px;
}

.result {
  margin: 20px auto 0 auto;
}

 